@import '../styles/config';
@import '../styles/utils';
.chat {
  @include display-Y();
  justify-content: space-between;
  flex-grow: 1;
  padding: 0px 20px;

  .contact-name {
    margin-top: 20px;
    text-align: center;
    color: rgb(0, 82, 158);
    small {
      font-size: size(1.2);
    }
  }

  .sms-history {
    flex-grow: 1;
    .other {
      display: flex;
      align-items: center;

      p {
        background-color: $primary-color;
        color: white;
        width: max-content;
        padding: 5px;
        border-radius: 8px;
        margin-left: 8px;
      }
    }

    .me {
      display: flex;
      flex-direction: column;
      align-items: end;
      text-align: right;

      p {
        background-color: $primary-color;
        color: white;
        width: max-content;
        padding: 5px;
        border-radius: 8px;
        margin-left: 8px;
        margin-bottom: 10px;
      }
    }
  }
  .send-sms {
    margin-bottom: 20px;
    display: flex;
    input {
      width: 100%;
      padding: 10px;
      border: 1px solid $primary-color;
      border-radius: 5%;
      font-size: size(1.5);
    }
    div {
      background-color: red;
      width: 30px;
      background-color: $primary-color;
      @include display-center();
      i {
        color: white;
        cursor: pointer;
      }
    }
  }
}
