@import '../styles/config';
@import '../styles/utils';
.chat {
  @include display-Y();
  justify-content: space-between;
  flex-grow: 1;

  .contact-name {
    margin-top: 20px;
    text-align: center;
    color: rgb(0, 82, 158);
    small {
      font-size: size(1.2);
    }
  }

  .sms-history {
    flex-grow: 1;
  }
  .send-sms {
    margin-left: 20px;
    input {
      width: 80%;
      padding: 10px;
      border: 1px solid $primary-color;
      border-radius: 5%;
      font-size: size(1.5);
    }
    i {
      background-color: $primary-color;
      color: white;
    }
  }
}
