@import 'config';
@import 'utils.scss';

.login-page {
  background: $login-page-bg;
  height: 100vh;
  .login {
    width: 350px;
    margin: auto;
    padding-top: 5%;
    h1 {
      text-align: center;
      color: white;
    }

    form {
      @include display-Y();
      input {
        padding: 20px;
        margin: 10px 0;
      }
      //Not <button> because Link use <a> behind
      a {
        padding: 15px 0;
        background-color: white;
        text-align: center;
      }
    }
  }
}
