@import './config';
@import './utils';

.messages {
  width: 20%;
  height: 90vh;
  border-right: 1px solid rgb(165, 165, 165);
  .message {
    border-bottom: 2px solid rgb(172, 216, 236);
    padding: 15px 15px;
    &:hover {
      background: rgb(182, 215, 230);
      cursor: pointer;
    }
    .contact-name {
      @include display-between();
      p {
        font-size: size(1.8);
      }
      i {
        color: $primary-color;
        font-size: size(1);
      }
    }

    div:nth-child(2) {
      @include display-between();
      font-size: size(1.5);
      color: gray;
      padding-top: 10px;
    }
  }
}
